    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>QUEUE การเงิน</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active">Collapsed Sidebar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                sdsad
              </div>
              <div class="card-body">
                <div class="card-title">
                  zdcas
                </div>
                <br>
                cxzczxsdasdfsdfsdfsdfsgsdfgzbzxbdbz/;bjhb.jc;c;bdkidf'kccvcbjc;bk'gkbbjbjdsd
              </div>
            </div>
          </div>

          <div class="col-md-4"></div>
          <div class="col-md-4"></div>

        </div>
      </div>
    </section>
