<div class="col-sm-12 div-content bg-light-rx">

  <div class="row p-1">
    <div class="col-sm-3">
      <div class="row p-1">
        <div class="col-sm-12" *ngFor="let qndisplay_row1 of qndisplay_row1">
          <div class="row p-2">
            <div class="col-sm-4 QN-body-left bg-{{qndisplay_row1.bgcolor}}">
              <p class="QN-body-left-content-h">จุดที่</p>
              <p class="QN-body-left-content-b">{{qndisplay_row1.dot}}</p>
            </div>
            <div class="col-sm-8 QN-body-right bg-white">
              <p class="QN-body-right-content">{{qndisplay_row1.qn}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="row p-1">
        <div class="col-sm-12" *ngFor="let qndisplay_row2 of qndisplay_row2">
          <div class="row p-2">
            <div class="col-sm-4 QN-body-left bg-{{qndisplay_row2.bgcolor}}">
              <p class="QN-body-left-content-h">จุดที่</p>
              <p class="QN-body-left-content-b">{{qndisplay_row2.dot}}</p>
            </div>
            <div class="col-sm-8 QN-body-right bg-white">
              <p class="QN-body-right-content">{{qndisplay_row2.qn}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row p-1">
        <div class="col-sm-12" *ngFor="let qndisplay_row3 of qndisplay_row3">
          <div class="row p-2">
            <div class="col-sm-4 QN-body-left bg-{{qndisplay_row3.bgcolor}}">
              <p class="QN-body-left-content-h">จุดที่</p>
              <p class="QN-body-left-content-b">{{qndisplay_row3.dot}}</p>
            </div>
            <div class="col-sm-8 QN-body-right bg-white">
              <p class="QN-body-right-content">{{qndisplay_row3.qn}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row p-1">
        <div class="col-sm-12" *ngFor="let qndisplay_row3 of qndisplay_row3">
          <div class="row p-2">
            <div class="col-sm-4 QN-body-left bg-{{qndisplay_row3.bgcolor}}">
              <p class="QN-body-left-content-h">จุดที่</p>
              <p class="QN-body-left-content-b">{{qndisplay_row3.dot}}</p>
            </div>
            <div class="col-sm-8 QN-body-right bg-white">
              <p class="QN-body-right-content">{{qndisplay_row3.qn}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
