<!-- <h1>{{tabs_group}}</h1> -->

<div class="row content">
  <div class="col-sm-4" [hidden]="!show">
    <h4>รายการยังไม่ได้เรียกชื่อ</h4>
    <app-queue-pharmacy-table [tabsGroupQueuePharmacy]="tabsGroupQueuePharmacyContent" ></app-queue-pharmacy-table>
  </div>
  <div class="col-sm-4">
    <h4>คิวมีปัญหา</h4>
    <app-queue-pharmacy-table [tabsGroupQueuePharmacy]="tabsGroupQueuePharmacyContent"  [statusQueue]="problem" [color_tb]="color_tb_red_bg"></app-queue-pharmacy-table>
  </div>
  <div class="col-sm-4">
    <h4>คิวเรียบร้อยแล้ว</h4>
    <app-queue-pharmacy-table [tabsGroupQueuePharmacy]="tabsGroupQueuePharmacyContent" [statusQueue]="success" [color_tb]="color_tb_green_bg"></app-queue-pharmacy-table>
  </div>
</div>
<div class="row content footer-container">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="margin-top">
          ผู้ป่วยรอ 10 คน
        </h4>
      </div>
      <div class="col-sm-4">
        <h4 class="margin-top">
          ปริ้นแล้ว 20 คน
        </h4>
      </div>
      <div class="col-sm-4">
        <h4 class="margin-top">
          ทั้งหมด 50 คน
        </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="margin-top">
          ผู้ป่วยรอทุกกลุ่ม 10 คน
        </h4>
      </div>
      <div class="col-sm-4">
        <h4 class="margin-top">
          ปริ้นแล้วทุกกลุ่ม 20 คน
        </h4>
      </div>
      <div class="col-sm-4">
        <h4 class="margin-top">
          ทั้งหมดทุกกลุ่ม 50 คน
        </h4>
      </div>
    </div>
  </div>
</div>
