.div-content {
  height: 100vh;
}

.margin-top {
  margin-top: 1rem;
}

.fontQN {
  font-size: 10rem;
  line-height: 12rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.fontQN-header {
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
}

.QN-header2 {
  margin-left: 1rem;
}

.QN-body-left {
  margin-left: 0rem;
}

.QN-body-right {
  margin-left: 0rem;
}

.QN-body-left-content-h {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

.QN-body-left-content-b {
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  margin-top: -1rem;
}

.QN-body-right-content {
  font-size: 6rem;
  line-height: 7rem;
  text-align: center;
}
// .KPH-Ui-display-top {
//   height: calc(100vh);
//   overflow: auto;
// }
// .KPH-Ui-display-bot {
//   height: calc(50vh - 150px);
//   overflow: auto;
// }
