table {
  width: 100%;
}

.example-container {
  height: calc(100vh - 267px);
  overflow: auto;
}

h4 {
  margin-bottom: 0px;
  margin-top: 2px;
}

.tomato {
  color: tomato;
}

.green {
  color: green;
}

// th {
//   background-color: green;
// }

.green-bg {
  background-color: green;
  color: white;
}

.red-bg {
  background-color: red;
  color: white;
}
.table-ellipsis {
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
