.zoom-font {
  font-size: 60 px;
}
.card {
  zoom: 150%;
}

.queue-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  // background-color: #ffffff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1rem;
}
.queue-card-item-header {
  position: relative;
  display: block;
  padding: 0.7rem 0.3rem;
  // background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem 1rem 0rem 0rem;
  font-size: 1.5rem !important;
}
.queue-card-item-body {
  position: relative;
  display: block;
  padding: 0.7rem 0.3rem;
  // background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);

  font-size: 1.2rem !important;
}
.fontqueue {
  padding: 0.8rem 0.1rem;
  font-size: 4rem !important;
}
