<div class="queue-card">
  <div
    class="queue-card-item-header bg-{{
      queueAllModuleGroupTables.colorQueueGroup
    }}"
  >
    คิวกลุ่ม {{ queueAllModuleGroupTables.nameQueueGroup }}
    {{ queueAllModuleGroupTables.queueItem.queueGroupPurport }}
  </div>
  <div class="queue-card-item-body bg-green-100">
    <div class="fontqueue" *ngIf="queueAllModuleGroupTables.queueItem">
      {{ queueAllModuleGroupTables.queueItem.nameQueue || "-" }}
    </div>
  </div>
  <div class="queue-card-item-body-queue">
    <div class="fontqueuetime">
      กำลังรอ {{ queueAllModuleGroupTables.queueItem.timeQueueWait || "-" }} คิว
    </div>
  </div>
  <div class="queue-card-item-body-queue">
    <div class="fontqueuetime">
      คิวถัดไปรอ {{ queueAllModuleGroupTables.queueItem.timeQueue || "-" }} นาที
    </div>
  </div>
</div>
