<div class="queue-card">
  <div class="queue-card-item-header bg-{{ queueAllModuleGroupTables.colorQueueGroup }}">
    คิวปัจจุบันกลุ่ม {{ queueAllModuleGroupTables.nameQueueGroup }}
  </div>
  <div class="queue-card-item-body bg-green-100">
    <div class="fontqueue" *ngIf="queueAllModuleGroupTables.queueItem">
      {{ queueAllModuleGroupTables.queueItem.nameQueue || "-" }}
    </div>
  </div>
  <div class="queue-card-item-body-queue">
    <div class="fontqueuetime">กำลังรอ {{ queueAllModuleGroupTables.queueItem.timeQueueWait || "-" }} คิว</div>
  </div>
  <div class="queue-card-item-body d-none">
    <div>รอ {{ queueAllModuleGroupTables.queueItem.timeQueue || "-" }} นาที/คิว</div>
  </div>
</div>
