<!-- <ul class="list-group">
  <li class="list-group-item active">Get json string data from File </li>
  <li class="list-group-item" *ngFor="let result of results | keyvalue">
    key : {{ result.key}} value :
    {{ result.value }}

  </li>
</ul> -->
<div *ngFor="let property of results | keyvalue">{{ property.key }}: {{ property.value.id_queue }}</div>

<app-layout-content-header [name]="name_container_header"></app-layout-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-auto">
            <mat-form-field>
              <mat-label>ช่องบริการ </mat-label>
              <mat-select [(value)]="selectedValueServiceChannel">
                <mat-option
                  *ngFor="let resultsServiceChannel of resultsServiceChannels"
                  [value]="resultsServiceChannel.idServiceChannel"
                >
                  {{ resultsServiceChannel.nameServiceChannel }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <app-money-queue-content [selectedValueServiceChannel]="selectedValueServiceChannel"></app-money-queue-content>
      </div>
    </div>
  </div>
</section>
