.example-container {
  height: calc(100vh - 281px);
  overflow: auto;
}

table {
  width: 100%;
}

.tomato {
  color: tomato;
}

.green {
  color: green;
}

.white {
  color: white;
}

.green-bg {
  background-color: green;
  color: white;
}

.red-bg {
  background-color: red;
  color: white;
}
