.queueAllProblem {
  zoom: 200%;
  font-size: 3rem;
  padding: 1.3rem;
}
.queueAllProblem-header {
  zoom: 100%;
  font-size: 3rem;
  padding: 1.5rem !important;
}
.display-hv {
  height: calc(100vh - 52px);
}
