<app-layout-content-header [name]="name_container_header"></app-layout-content-header>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label i18n>
      <i class="fas fa-users nav-icon tabs-icon"></i>
      กลุ่มที่ 1
    </ng-template>
    11515465468484ฟหกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหห5456444445484ฟ54หก4แ56ฟ4หแ8ฟ4ห8แ4ฟห8
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label i18n>
      <i class="fas fa-users nav-icon tabs-icon"></i>
      กลุ่มที่ 2
    </ng-template>
    11515465468484ฟหกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกกหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหหห5456444445484ฟ54หก4แ56ฟ4หแ8ฟ4ห8แ4ฟห8
  </mat-tab>

</mat-tab-group>
