<app-layout-content-header [name]="name_container_header"></app-layout-content-header>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            พิมพ์สติกเกอร์ ห้องยา
          </div>
          <div class="card-body">
            <app-print-pharmacy-table [value]="hero"></app-print-pharmacy-table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</section>
